#time_slider {
    display: inline-block;
    width: 71%;
    margin-left: 6px;
    margin-top: 10px;
}

#time_val {
    margin-left: 10px;
    margin-right: 20px;
}

#slider_container {
    margin-bottom: 20px;
}

#proc_list tbody tr {
    cursor: pointer;
}

body {
    font-family: Monospace, monospace;
    margin: 0;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.chart {
    width: 300px;
    height: 200px;
}

.xlabel {
    text-align: center;
}

.chart_container {
    display: inline-block;
    clear: both;
    float: left;
    margin-bottom: 20px;
}

.top-right-box {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 20px;
    padding-right: 20px;
}

.flashes {
    list-style: none;
}

.flash-item {
    color: red;
}

#side-menu {
    width: 350px;
    float: left;
    height: 100%;
}

#main-content {
    float: left;
    height: 100%;
    width: calc(100% - 350px);
}

#container {
    overflow: hidden;
    height: 100%;
}

#container > h2 {
    margin: 0 0 20px 0;
}

html {
    height: 100%;
}

