<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Credits</title>
</head>
<body>
<h2>Credits</h2>
<hr>
<p>This web application was made thanks to:</p>
<ul>
    <li><a href="http://flask.pocoo.org/">Flask</a></li>
    <li><a href="http://jquery.com/">JQuery</a></li>
    <li><a href="http://jqueryui.com/">JQuery UI</a></li>
    <li><a href="http://www.datatables.net/">Datatables</a></li>
    <li><a href="http://www.flotcharts.org/">Flot</a></li>
    <li><a href="https://github.com/medialize/jQuery-contextMenu">jQuery Context
        Menu</a></li>
    <li><a href="https://github.com/giampaolo/psutil">Psutil</a></li>
</ul>
</body>
</html>