<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Proc info</title>

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='mycss.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='jquery-contextmenu/jquery.contextMenu.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css') }}">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='bower_components/datatables/media/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='bower_components/datatables/media/css/jquery.dataTables.min.css') }}">

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/datatables/media/js/jquery.dataTables.min.js') }}"></script>

    <script src="{{ url_for('static', filename='bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-contextmenu/jquery.contextMenu.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/Flot/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/knockout/dist/knockout.debug.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/lodash/dist/lodash.min.js') }}"></script>

    <script type="text/javascript">
        var signals = {
            {% for signum, name in signals.items() %}
                '{{ name }}': {{ signum }},
            {% endfor %}
        }
    </script>

    <script src="{{ url_for('static', filename='utils.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>

</head>

<body>
<h2>Process list on <span data-bind="text: machine_name"></span></h2>
<hr>
<div id="slider_container">
    <label for="time_slider">Intervallo di aggiornamento:</label>

    <div id="time_slider"></div>
    <span data-bind="text: time_val"></span>
</div>
<hr>
<div>
    <div class="chart_container">
        <div id="cpu_chart" class="chart"
             data-bind="plot: cpu_data_for_plot, plotOptions: { plot_size: 30 }"></div>
        <div class="xlabel">
            CPU Usage = <span data-bind="text: cpu_percent"></span>
        </div>
    </div>
    <div class="chart_container">
        <div id="mem_chart" class="chart"
             data-bind="plot: mem_data_for_plot, plotOptions: { plot_size: 30 }"></div>
        <div class="xlabel">
            Mem Usage = <span data-bind="text: percent_mem"></span>
        </div>
    </div>
    <div class="chart_container expand">
        <table id="stat">
            <tr>
                <td>CPU Num:</td>
                <td><span data-bind="text: cpu_num"></span></td>
            </tr>
            <tr>
                <td>Total memory:</td>
                <td><span data-bind="text: total_mem"></span></td>
            </tr>
            <tr>
                <td>Available Memory:</td>
                <td><span data-bind="text: available_mem"></span></td>
            </tr>
            <tr>
                <td>Processi in esecuzione:
                <td><span data-bind="text: nproc"></span></td>
            </tr>
        </table>
    </div>
</div>
<hr>
<table id="proc_list" data-bind="procTable: { sel_id: sel_id, procTableObj: procTableObj }">
    <thead>
    <tr>
        <th>Name</th>
        <th>PID</th>
        <th>Parent PID</th>
        <th>CPU Percent Usage</th>
        <th>Memory used (RSS)</th>
        <th>User Time</th>
        <th>System Time</th>
        <th>Cmd Line</th>
    </tr>
    </thead>
</table>
<a href="{{ url_for('credits_view') }}">Credits</a>

<div class="top-right-box">
    <a href="{{ url_for('logout') }}">Logout</a>
</div>
</body>
</html>